<div class="sunny" [ngClass]="getColor()"> 
<div class="d-flex justify-content-center search-div">
  
  <div style="width: 500px;">
    <div>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input [(ngModel)]="searchResult" type="text" nz-input placeholder="Search by city" />
      </nz-input-group>
      <ng-template #suffixIconButton>
          <button nz-button nzType="default" nzSearch (click)="onSearch()"><i nz-icon nzType="search" style="padding-bottom: 20px;"></i></button>
      </ng-template>
    </div>

  </div>
</div>

<div class="d-flex justify-content-center">
  
</div>

<div class="d-flex justify-content-center weather-container">
    <div>
      <div class="d-flex justify-content-left">
       <h1 > {{weatherData.name}} <br> <h3> {{weatherData.weather[0].main}} - {{weatherData.weather[0].description}}</h3></h1>
      </div>
      <div class="d-flex justify-content-left">
        <h3 class="temp">{{weatherData.main.temp}}&deg; </h3>
      </div>
    </div>
</div>

</div>