.sunny{
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    height: 100%;
    .name{
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        color: rgb(75, 69, 64);
        text-transform: uppercase;
    }
    .description{
        padding: 0px;
        margin: 0px;
        font-size: 15px;
        color: rgb(75, 69, 64);
        text-transform: capitalize;
    }
    .temp{
        padding: 0px;
        margin: 0px;
        color: rgb(75, 69, 64);
        font-size: 75px;
    }
    .ToDo{
        font-size: 60px;
        color: rgb(75, 69, 64);
        text-transform: uppercase;
    }
}

.dark{
    
    background: linear-gradient(to right,#000000, #4c4ff2);
    height: 100%;
    h1{
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.671);
        padding-top: 25px;
    }
    h3{
        color:rgba(255, 255, 255, 0.671);
        text-transform: capitalize;
    }
}
.top-col{
    height: 500px;
    padding: 20px;
}

.bottom-col{
    height: 500px;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.desc{
    padding-top: 30px;
    border-bottom: 1px solid rgb(75, 69, 64);
}

.data{
    border-bottom: 1px solid rgb(75, 69, 64);
}

.feels-like{
    padding-top: 45px;
}

.row1{
    width: 750px;
}