<div class="d-flex justify-content-center">
<div style="width: 500px;">
<div>
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input [(ngModel)]="searchResult" type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="onSearch()"><i nz-icon nzType="search"></i></button>
  </ng-template>
</div>
<div class="d-flex justify-content-center">
</div>
<div class="d-flex justify-content-center">
  Result
</div>
<div class="d-flex justify-content-center">
  What to wear
</div>
<div class="d-flex justify-content-center">
  what to do 
</div>
</div>
</div>